blinker==1.7.0
click==8.1.7
cmdstanpy==1.2.0
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
et-xmlfile==1.1.0
Flask==3.0.0
fonttools==4.47.2
holidays==0.41
importlib-resources==6.1.1
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.8.2
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.1.4
pillow==10.2.0
prophet==1.1.5
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
seaborn==0.13.1
six==1.16.0
stanio==0.3.0
tqdm==4.66.1
tzdata==2023.4
Werkzeug==3.0.1
gunicorn

# C:\msys64\ucrt64\bin\python.exe MSYS2의 Python을 사용하여 venv/bin/activate와 같은 리눅스식 경로로 가상환경실행
# Python 3.10 재설치
# Msys64 python 삭제 및 Path msys64\ucrt64\bin제거
# venv/Scripts/activate
# export FLASK_APP=flag